@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    background-color: #0a0a18;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    padding: 75px 0;
}

h1 {
    color: white;
    font-size: 40px;
}

.profiles {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 100px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
}

.usernames {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.usernames > h4 {
    color: white;
}

.img {
    border: transparent 2px solid;
}
.img:hover {
    border: white 2px solid;
    animation: pulse infinite 0.75s;
    cursor: pointer;
}

#img4 {
    width: 160px;
    height: 160px;
}

button {
    padding: 20px 30px;
    color: white;
    font-size: 20px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
    transition: all .5s ease;
}
button:hover {
    cursor: pointer;
    background-color: white;
    color: #0a0a18;
    border: 2px solid #0a0a18;
    transition: all .5s ease;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.125);
    }
    100% {
        transform: scale(1);
    }
}